# Yad2 Web Scraping
<img src="images/yad2Logo.png" alt="drawing" width="300"/>

### Goals:
1) Scrap data to local computer for price statistics according to various parameters (area, number of rooms, floor, city and neighborhood).
2) Create An interactive heat map for a convenient comparison of prices by area and house data as following:

<img src="images/heat_map_example.png" alt="drawing" width="300"/>

In [2]:
from general_scraper import *

Created HEADERS:
{'Accept': 'application/json, text/plain, */*', 'Accept-Encoding': 'gzip, deflate, br', 'Accept-Language': 'he-IL,he;q=0.9,en-US;q=0.8,en;q=0.7', 'Connection': 'keep-alive', 'Host': 'www.yad2.co.il', 'mobile-app': 'false', 'Referer': 'https://www.yad2.co.il/realestate/forsale', 'sec-ch-ua': '"Google Chrome";v="107", "Chromium";v="107", "Not=A?Brand";v="24"', 'sec-ch-ua-platform': '"Windows"', 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36', 'Cookie': '__uzma=12133d30-5e46-41fb-ae39-938f5f74f2a6; __uzmb=1668338056; __uzmc=508091014538; __uzmd=1668338056; __uzme=4025; '}

## Get data of posts from first 1000 pages (orderd by date)

In [2]:
# change "last_page_num" to the count of pages you want to scrape
last_page_num = 10

## Convert to pandas DataFrame

In [3]:
df = get_posts_DataFrame(last_page_num=last_page_num)
df

,price,address,city,type,rooms,floor,size,update,scrap_date
0,850000,יד ושם 4,באר שבע,דירה,4,2,82,2022/11/13,2022/11/13
1,2360000,משה פריד 39,רחובות,דירה,3,6,88,2022/11/13,2022/11/13
2,2290000,מבוא חרוב 8,צור הדסה,גג/פנטהאוז,4,3,162,2022/11/13,2022/11/13
3,2640000,יעקב תמרי 8,רחובות,דירה,4,14,107,2022/11/13,2022/11/13
4,1836000,שדרות ששת הימים 327,אילת,דירה,3,3,106,2022/11/13,2022/11/13
...,...,...,...,...,...,...,...,...,...
162,5180000,תל יהודה,רמת גן,גג/פנטהאוז,5,6,231,2022/11/13,2022/11/13
163,4350000,נווה אביבים,תל אביב יפו,דירה,4,3,96,2022/11/13,2022/11/13
164,3950000,אגמים,נתניה,דירה,5,13,1,2022/11/13,2022/11/13
165,7800000,"תכנית ל', למד",תל אביב יפו,דירה,5,6,130,2022/11/13,2022/11/13
166,3995000,שדרות בן גוריון,חולון,גג/פנטהאוז,6,7,200,2022/11/13,2022/11/13

## Save to your local computer

In [ ]:
df.to_excel('Houses.xlsx', index=False)

# Result
1) Upload the table to [your own Google Sheets](https://docs.google.com/spreadsheets/u/0/).
2) Build a dashbord in [google Looker (data studio)](https://datastudio.google.com/u/0/).
3) Visit my [dashbord](https://datastudio.google.com/embed/reporting/90738cd2-b077-4b71-9b46-25bb2ce8e4c6/page/V806C)! (takes a few seconds)

In [27]:
from bs4 import BeautifulSoup
import re

In [36]:
def get_car_data(car) -> dict:
    brand = car.find('span', class_='title').text.strip()
    brand2 = car.find('span', class_='subtitle').text.strip()
    price = car.find('div', class_='price').text.strip()
    year = car.find('div', class_='data year-item').find('span', class_='val').text
    hand = car.find('div', class_='data hand-item').find('span', class_='val').text
    engine_size = car.find('div', class_='data engine_size-item').find('span', class_='val').text
    
    # additional
    brac1 = brand2.find('(')
    brac2 = brand2.find(')')
    hourse_power = brand2[brac1+1 : brac2].replace("כ''ס", '')
#     fuel = 
#     seats = 
    automatic_trans = brand2.find("ידני") < 0
    
    brand2 = brand2.replace("אוט' ", '') if automatic_trans else brand2.replace("ידני ", '')
    
    result = {
        'brand': brand,
        'brand2': brand2,
        'price': price,
        'year': year,
        'hand': hand,
        'engine_size': engine_size,
        'automatic_trans': automatic_trans,
        'hourse_power': hourse_power
    }
    return result

In [18]:
def get_cars_page_data(cars_page):
    return [get_car_data(car) for car in cars_page_1]

In [5]:
cars_page_1 = get_feeditems(1, 'vehicles/cars')

In [37]:
df = pd.json_normalize(get_cars_page_data(cars_page_1))
df

,brand,brand2,price,year,hand,engine_size,automatic_trans,hourse_power
0,אאודי Q2,Comfort 1.5 (150 כ''ס),"181,000 ₪",2022,1,"1,498",True,150
1,מיצובישי אאוטלנדר,"Instyle 7 מק' 2.0 (150 כ""ס)","162,000 ₪",2021,1,"1,998",True,"150 כ""ס"
2,סקודה קאמיק,Ambition 1.0 (115 כ''ס),"120,000 ₪",2021,1,999,True,115
3,מיצובישי אאוטלנדר PHEV,"4X4 Luxury הייבריד 5 מק' 2.0 (121 כ""ס)","133,000 ₪",2017,2,"1,998",True,"121 כ""ס"
4,פולקסווגן טיגואן,"Trendline 1.4 (150 כ""ס)","89,000 ₪",2018,1,"1,395",True,"150 כ""ס"
5,שברולט סוניק,"RS הצ'בק 1.4 (140 כ""ס)","33,500 ₪",2014,3,"1,364",True,"140 כ""ס"
6,סקודה אוקטביה,Elegance 1.4 (140 כ''ס),"56,000 ₪",2014,2,"1,395",True,140
7,סקודה קארוק,Style דיזל 1.6 (115 כ''ס),"122,000 ₪",2018,2,"1,598",True,115
8,טויוטה ספייס ורסו,"GLI 1.3 (99 כ""ס)","26,000 ₪",2011,2,"1,329",True,"99 כ""ס"
9,רנו קליאו דור 4 (2013-2019),Collection 1.2 (118 כ''ס),"67,500 ₪",2018,1,"1,197",True,118
10,סוזוקי SX4 קרוסאובר,GLX 1.6 (118 כ''ס),"60,000 ₪",2015,1,"1,586",True,118
11,פורד אקספלורר,4X4 Limited Premium 7 מק' 3.5 (290 כ''ס),"208,000 ₪",2018,2,"3,497",True,290
12,ניסאן קשקאי,Acenta 1.3 (159 כ''ס),"110,000 ₪",2019,2,"1,332",True,159
13,סוזוקי SX4 קרוסאובר,GLX 1.6 (118 כ''ס),"55,000 ₪",2015,1,"1,586",True,118
14,קיה ספורטז',"Urban 2.0 (155 כ""ס)","103,000 ₪",2016,1,"1,999",True,"155 כ""ס"
15,פורד אקספלורר,Limited 7 מק' 3.5 (290 כ''ס),"154,000 ₪",2016,2,"3,497",True,290
16,יונדאי טוסון,"Premium בנזין 2.0 (155 כ""ס)","101,000 ₪",2017,1,"1,999",True,"155 כ""ס"
17,מאזדה 3,Sport Spirit הצ'בק 2.0 (150 כ''ס),"34,000 ₪",2010,1,"1,999",True,150
18,מיצובישי L200 האנטר 2X4,HI-Rider GL דאבל קבינה דיזל 2.5 (136 כ''ס),"36,999 ₪",2008,3,"2,477",True,136
19,טויוטה RAV4 ארוך,4X4 Experience 2.0 (175 כ''ס),"169,000 ₪",2019,1,"1,987",True,175
20,מיצובישי אאוטלנדר,"Instyle 7 מק' 2.0 (150 כ""ס)","79,000 ₪",2015,3,"1,998",True,"150 כ""ס"
21,סיאט אטקה,"Style Plus 1.4 (150 כ""ס)","99,900 ₪",2019,1,"1,395",True,"150 כ""ס"
22,רנו מגאן אסטייט/ גראנד טור,Life דיזל 1.5 (110 כ''ס),"74,900 ₪",2018,2,"1,461",True,110
23,פורד קוגה,Trend X 1.5 (175 כ''ס),"116,330 ₪",2020,1,"1,500",True,175
24,פולקסווגן ג'טה,"Trendline 1.2 (105 כ""ס)","30,000 ₪",2014,2,"1,197",True,"105 כ""ס"
25,אינפיניטי Q70 / M37,"GT 3.7 (320 כ""ס)","129,900 ₪",2017,1,"3,696",True,"320 כ""ס"
26,ניסאן אקס טרייל,Acenta דיזל 7 מק' 1.6 (130 כ''ס),"127,000 ₪",2018,1,"1,598",True,130
27,רנו מגאן גראנד קופה,"Intense דיזל 1.5 (110 כ""ס)","84,000 ₪",2019,1,"1,461",True,"110 כ""ס"
28,שברולט סילברדו 2500,4X4 LT דאבל קבינה דיזל 6.6 (445 כ''ס),"278,000 ₪",2022,0,"6,600",True,445
29,רנו מגאן גראנד קופה,Intense דיזל 1.5 (116 כ''ס),"78,000 ₪",2019,1,"1,461",True,116
30,מיצובישי פג'רו ארוך,4X4 Limited 7 מק' 3.8 (250 כ''ס),"64,000 ₪",2008,1,"3,828",True,250
31,מיצובישי ASX,"Premium 2.0 (150 כ""ס)","121,951 ₪",2019,1,"1,998",True,"150 כ""ס"
32,ג'יפ / Jeep רנגלר ארוך,4X4 Rubicon 392 4 דל' 6.4 (470 כ''ס),"680,000 ₪",2022,0,"6,424",True,470
33,פולקסווגן טיגואן,"4X4 Comfortline 2.0 (180 כ""ס)","135,000 ₪",2018,1,"1,984",True,"180 כ""ס"
34,מרצדס GLA,GLA200 Urban 1.6 (156 כ''ס) [2014-2017],"145,000 ₪",2016,3,"1,595",True,156
35,סוזוקי SX4 קרוסאובר,"GLS 1.6 (118 כ""ס)",לא צוין מחיר,2016,1,"1,586",False,"118 כ""ס"

In [12]:
cars_page_1[0]

<div class="feeditem table" data-v-62c3108a=""><div class="feed_item feed_item-v4 accordion desktop" data-v-62c3108a="" id="feed_item_0" item-id="m34jwfwh"><div class="color_container yellow"><div class="right_col"><div class="image_container"><!-- --> <!-- --> <div class="like-btn"><div class="like_icon_wrapper" data-v-d7eeb5fa=""><button class="like_icon y2i_like" data-test-id="LIKE_AD" data-v-d7eeb5fa=""></button> <!-- --></div></div> <!-- --> <div class="pic" id="image_0"><img alt="" class="feedImage" src="https://img.yad2.co.il/Pic/202208/19/1_3/o/y2_1_03076_20220819001524.jpeg?l=5&amp;c=3&amp;w=195&amp;h=117" title=""/> <div class="icons"><!-- --> <div class="icon image-index"><img alt="" src="//assets.yad2.co.il/yad2site/y2assets/images/images-gallery/PIC.svg"/> <span class="count">6</span></div></div></div></div> <div class="rows"><span id="feed_item_0_title"><span class="title">
                        ניסאן אקס טרייל
                    </span> <!-- --><!-- --></span> <span class="subtitle">Acenta אוט' דיזל 7 מק' 1.6 (130 כ''ס)</span></div></div> <div class="middle_col"><div class="data year-item"><span class="val" id="data_year_0">2016</span> <span class="key">שנה</span></div><div class="data hand-item"><span class="val" id="data_hand_0">3</span> <span class="key">יד</span></div><div class="data engine_size-item"><span class="val" id="data_engine_size_0">1,598</span> <span class="key">סמ״ק</span></div></div> <div class="left_col with_new_tab"><p class="top_row"><!-- --> <button class="new_tab"><span class="hover_text">פתיחה בטאב חדש</span> <i class="y2i_new_tab"></i></button></p> <div class="price" data-test-id="item_price" id="feed_item_0_price">
                77,000 ₪
            </div> <div class="showDateInLobby" hidden="hidden">
                13/11/2022
            </div> <div class="merchant updated_at hasContent"><span class="date" id="feed_item_0_date">
                    עודכן היום
                </span> <span class="more-option">לחצו לפרטים</span></div> <!-- --></div></div> <!-- --></div></div>